body {
  text-align: center;
}

ul {
  list-style-type: none;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.pagination {
  margin: 15px auto;
  display: inline-flex;
  list-style: none;
  outline: none;
  
}
.pagination > .active > a{
  background-color:rgb(91, 91, 91) ;
  border-color: rgb(91, 91, 91);
  color: #fff;
}
.pagination > li > a{
  border: 1px solid rgb(91, 91, 91);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: rgb(91, 91, 91);
  border-color: rgb(91, 91, 91);
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: rgb(91, 91, 91);
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.leaflet-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}